Makefile
drivers/bcma/Makefile
drivers/misc/eeprom/Makefile
drivers/net/wireless/Makefile
drivers/net/wireless/ath/Makefile
drivers/ssb/Makefile
net/wireless/Makefile
Makefile.bk
drivers/bcma/Makefile.bk
drivers/misc/eeprom/Makefile.bk
drivers/net/wireless/Makefile.bk
drivers/net/wireless/ath/Makefile.bk
drivers/ssb/Makefile.bk
net/wireless/Makefile.bk
env.sh
